@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
        font-family: 'poppins', sans-serif;
        height: 100vh;
}
.container img{
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
}

.card_container{
    display: flex;
    position: absolute;
    gap: 4rem;
    top: 20%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    height: 180px;
    width: 180px;
    background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        cursor: pointer;
        transition: all .2s ease-in-out;
}

.cards:hover {
    transform: scale(1.1);
}

.card_container2{
    top: 50%;
}

.card_container3{
    top: 80%;
}
.lists{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 8%;
}
.list p{
    top: 0;
    padding: 15px 10px;
}
.codeHeading{
    text-decoration: underline;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* margin-left: 10rem; */
    height: 50px;
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
}

.container h1{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
}

.codeContainer{
    background-color: black;
    color: white;
    height: 80vh;
    width: 780px;
    margin-left: 700px;
    margin-top: 100px;
    position: fixed;
    top: 0;
    overflow: auto;
    padding-left: 15px;
    white-space: pre;
    font-family: "Source Code Pro",sans-serif;
}