@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  /* height: 80px; */
  display: flex;
  justify-content: space-around;
}
.navbar button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;

}
.navbar button:hover {
  background-color: #575757;
  transition: 0.2s all;
  color: #fff;
}
.container {
  display: flex;
}
.sidebar {
  background-color: #f4f4f4;
  width: 300px;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 90px);
}
.sidebar button {
  margin-bottom: 5px;
  /* border: 1px solid gray; */
  width: 100%;
  padding: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.question-list button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
.question-list button:hover {
  /* background-color: #ddd; */
}
.content {
  flex-grow: 1;
  padding: 20px;
}

pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-family: "Fira Code", sans-serif;
}

.active {
  background-color: #575757;
  transition: 0.2s all;
  color: #fff;
  border: none;
}
